  <%form_remote_for(@mrc, :loading =>"$('#ajax-indicator').show();",:complete =>"$('#ajax-indicator').hide();") do |f| -%>
<fieldset style="height:100px;">
  <legend>Action</legend>
  <table height='100' style="margin-left:150px;text-align:center;">
    <tr> 
        <td width='100'><%if authorise_to_add_or_edit %><%=link_to_remote "New",:url => { :action => "load_mrc_form"} ,
                                                                              :loading =>"$('#ajax-indicator').show();" ,
                                                                              :complete =>"$('#ajax-indicator').hide();" %><%else%>New<%end%></td>
        <td width='100'><%=	 link_to_remote "Cancel" ,:url=>{:action=>"cancel"},
                                      :loading =>"$('#ajax-indicator').show();" ,
                                       :complete =>"$('#ajax-indicator').hide();"%></td>
        <td width='100'>Copy</td>
    </tr>
    <tr>
        <td width='100'><%if authorise_to_add_or_edit %><%=submit_tag 'Save' ,:style=>"border:none;background:white;"%><%else%>Save<%end%></td>
        <td width='100'><%if(authorized_user('admin',@mrc) and @user_action == 'edit')%>
				    <%=link_to_remote 'Delete', :url  =>{:action=>'destroy' ,:id=>@mrc.id}, :method => :delete, :confirm => 'Are you sure?',
                 :loading =>"$('#ajax-indicator').show();" ,
                 :complete =>"$('#ajax-indicator').hide();"  
            %>
				   <%else%>Delete<%end%></td>
        <td width='100'>&nbsp;</td>
    </tr> 
  </table>
</fieldset>
<fieldset style="height:382px;">
  <legend>M R C Information</legend>
	  <div id="mrc_information_form">
		<%=render:partial=>'mrc_new',:locals=>{:f =>f}%>
	 </div>
</fieldset>
   <%end -%>