<center>
<h1>Log In</h1>
<% form_tag session_path do -%>
<table>
<tr>
<td><%= label_tag 'login' %></td>
<td><%= text_field_tag 'login', @login %></td>
</tr>

<tr>
<td><%= label_tag 'password' %></td>
<td><%= password_field_tag 'password', nil %></td>
</tr>

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->
<tr>
<td colspan='2'><%= submit_tag 'Log in' %></td>
</tr>
</table>
<% end -%>
</center>
