<h1>Editing survey</h1>

<% form_for(@survey) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :reference %><br />
    <%= f.text_field :reference %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :published_date %><br />
    <%= f.datetime_select :published_date %>
  </p>
  <p>
    <%= f.label :is_approved %><br />
    <%= f.check_box :is_approved %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @survey %> |
<%= link_to 'Back', surveys_path %>