<script>
  	$(document).ready(function() {
	$("#role_admin").click(function(){
		$("#fieldset_admin").show();
		 $("#fieldset_admin").effect("highlight", {}, 3000);
		$("#fieldset_write").hide();
		$("#fieldset_read").hide();
	});
	$("#role_write").click(function(){
		$("#fieldset_admin").hide();
		$("#fieldset_write").show();
		$("#fieldset_write").effect("highlight", {}, 3000);
		$("#fieldset_read").hide();
	});
	$("#role_read").click(function(){
		$("#fieldset_admin").hide();
		$("#fieldset_write").hide();
		$("#fieldset_read").show();
		$("#fieldset_read").effect("highlight", {}, 3000);
	});
});
</script>


  
  <% @user.password = @user.password_confirmation = nil %>
  <div id="error_messages"></div>
<style>
 #user_fields ul {list-style:none;float:left;margin:0px;padding:0px;}
 #user_fields ul li{height:20px;margin-bottom:5px;}
</style>

<div id="user_fields">
<ul style="width:120px;text-align:right;">
<li><%= label_tag 'login', 'Login' %></li>
<li><%= label_tag 'password', 'Password' %></li>
<li><%= label_tag 'password_confirmation', 'Confirm' %></li>
<li><%= label_tag 'first_name', 'First Name' %></li>
<li><%= label_tag 'last_name', 'Last Name' %></li>
<li><%= label_tag 'phone', 'Phone Number' %></li>
<li><%= label_tag 'mobile', 'Mobile Number' %></li>
<li><%= label_tag 'role' %></li>
</ul>
<ul style="width:300px;margin-left:20px;">
<li><%if @user_action == 'new'%> <%= f.text_field :login ,:size=>"30"%><%else%>  <%= @user.login %><%end%></li>
<li><%= f.password_field :password ,:size=>"30"%></li>
<li><%= f.password_field :password_confirmation ,:size=>"30"%></li>
<li><%= f.text_field :first_name ,:size=>"30"%></li>
<li><%= f.text_field :last_name ,:size=>"30"%></li>
<li><%= f.text_field :phone ,:size=>"30"%></li>
<li><%= f.text_field :mobile ,:size=>"30"%></li>
<li>
<%if @user_action == 'edit'%>
       <%if authorized_user('admin',@user)%>
          <%=  radio_button_tag 'role', 'admin' ,true%><%=label_tag 'role_admin'," Admin"%> 
          <%=  radio_button_tag 'role', 'write' %>  <%=label_tag 'role_write'," Write"%> 
	     <%elsif authorized_user('write',@user)%> 
	       <%=  radio_button_tag 'role', 'write' %>  <%=label_tag 'role_write'," Write"%>
	    <%end%>
        <%=  radio_button_tag 'role', 'read' %>  <%=label_tag 'role_read'," Read"%>
   <%else%>
      <%=  radio_button_tag 'role', 'admin' ,true%>  <%=label_tag 'role_admin'," Admin"%>
      <%=  radio_button_tag 'role', 'write' %>  <%=label_tag 'role_write'," Write"%>
      <%=  radio_button_tag 'role', 'read' %>  <%=label_tag 'role_read'," Read"%>
  <%end%>
</li>

</ul>

 </div>
