-# Renders list of entities with live search.
-# Local variables 'model', 'entities', 'target'(optional) used.

- target ||= nil # Points to child list that should be updated instead of form.

- e_name = model.name.downcase
- plural = e_name.pluralize
- input_id = plural + '_filter'
- search_hint = "search for #{e_name}"

%fieldset
  %legend= model::DESCRIPTION

  %input(id=input_id){:type=>"text", :name=>input_id, :value=>search_hint}
  = observe_field input_id,                      |
    :frequency => 0.5,                           |
    :with => 'q',                                |
    :url => {:action => 'filter', :cls => e_name}, |
    :loading => "busy(true)",                    |
    :complete => "busy(false)"                   |
  :javascript
    $('##{input_id}').focus(function () {
      if($(this).val() == "#{search_hint}") $(this).val("")
      });

  =link_to_remote "Reset Filter", |
      :url => {:action => "filter", :q => "", :cls => e_name}, |
      :loading => "busy(true)", :complete => "busy(false)"   |

  %div{id="#{e_name}_list"}
    - if entities.blank?
      = "No #{e_name} found"
    - else
      - entities.each do |e|
        .nav-list-item= link_to_remote e.name,                               |
            :url => target                                                  |
                ? {:action => 'filter', :id => e.id, :cls => e.class.name, :tgt => target}    |
                : {:action => 'edit_form', :id => e.id, :cls => e.class.name}, |
            :loading => "busy(true)", :complete => "busy(false)"             |
