-# Actions for entity editor.
-# 'entity' local variable used.

- model = entity.class
- e_name = model.name.downcase

#entity-form-actions
  %fieldset
    %legend Actions

    %table
      %tr
        %td#action-new
          - if true #entity.can_create(current_user)
            = button_to_remote "New", |
                :url => {:action => "load_form", :cls => e_name}, |
                :loading =>"busy(true)", :complete =>"busy(false)"      |
          -else
            %span{:style => "font-color:grey"} New

        %td#action-cancel
          - if true #entity.can_modify(current_user)
            = button_to_remote "Cancel", |
                :url => {:action => "cancel", :id => entity.id, :cls => e_name}, |
                :loading =>"busy(true)", :complete =>"busy(false)"      |
          -else
            %span{:style => "font-color:grey"} Cancel

        %td#action-copy
          - if true #entity.can_create(current_user)
            = button_to_remote "Copy", |
                :url => {:action => "copy", :id => entity.id, :cls => e_name}, |
                :loading =>"busy(true)", :complete =>"busy(false)"  |
          -else
            %span{:style => "font-color:grey"} Copy

      %tr
        %td#action-save
          - if true #entity.can_create(current_user)
            = submit_to_remote 'save_btn', 'Save', |
                :url => {:action => "update", :id => entity.id, :cls => e_name}, |
                :loading =>"busy(true)", :complete =>"busy(false)"  |
          -else
            %span{:style => "font-color:grey"} Save

        %td#action-delete
          - if true #entity.can_delete(current_user)
            = button_to_remote 'Delete', |
              :url => {:action => 'destroy', :id => entity.id, :cls => e_name}, |
              :method => :delete, |
              :confirm => 'Are you sure?', |
              :loading =>"busy(true)", :complete =>"busy(false)" |
          -else
            %span{:style => "font-color:grey"} Delete
