-# Actions for entity editor.
-# 'model' and 'entity'(optional) local variable used.

- m_name = model.name.downcase
- entity ||= nil # Optional local.

#entity-form-actions
  %fieldset
    %legend Actions

    %table
      %tr
        %td#action-new
          - if current_user.can_create(model)
            = button_to_remote "New", |
                :url => {:action => "create", :cls => m_name}, |
                :loading =>"busy(true)", :complete =>"busy(false)" |
          -else
            .inactive New

        %td#action-cancel
          - if current_user.can_modify(entity)
            = button_to_remote "Cancel", |
                :url => {:action => "cancel", :id => entity.id, :cls => m_name}, |
                :loading =>"busy(true)", :complete =>"busy(false)"      |
          -else
            .inactive Cancel

        %td#action-copy
          - if entity and current_user.can_create(model)
            = button_to_remote "Copy", |
                :url => {:action => "copy", :id => entity.id, :cls => m_name}, |
                :loading => "busy(true)", :complete => "busy(false)"  |
          -else
            .inactive Copy

      %tr
        %td#action-save
          - if current_user.can_modify(entity)
            = submit_to_remote 'save_btn', 'Save', |
                :url => {:action => "update", :id => entity.id, :cls => m_name}, |
                :loading => "busy(true)", :complete => "busy(false)"  |
          -else
            .inactive Save

        %td#action-delete
          - if current_user.can_delete(entity)
            = button_to_remote 'Delete', |
              :url => {:action => 'destroy', :id => entity.id, :cls => m_name}, |
              :method => :delete, |
              :confirm => 'Are you sure?', |
              :loading =>"busy(true)", :complete =>"busy(false)" |
          -else
            .inactive Delete
