  <%form_remote_for @mrc do |f| -%>
<fieldset style="height:100px;">
  <legend>Action</legend>
  <table height='100'>
    <tr> 
        <td width='50'><%if authorise_to_add_or_edit %><%=link_to_remote "new",:url => { :action => "load_mrc_form"}%><%else%>new<%end%></td>
        <td width='50'><%=	 link_to_remote "Cancel" ,:url=>{:action=>"cancel"}%></td>
        <td width='50'>Copy</td>
        <td width='50'>Import</td>
    </tr>
    <tr>
        <td width='50'><%if authorise_to_add_or_edit %><%=submit_tag 'Save MRC'%><%else%>save mrc<%end%></td>
        <td width='50'><%if(authorized_user('admin',@mrc) and @user_action == 'edit')%>
				    <%=link_to_remote 'Delete', :url  =>{:action=>'destroy' ,:id=>@mrc.id}, :method => :delete, :confirm => 'Are you sure?'%>
				   <%else%>Delete<%end%></td>
        <td width='50'>&nbsp;</td>
        <td width='50'>Export</td>
    </tr> 
  </table>
</fieldset>
<fieldset style="height:883px;">
  <legend>M R C Information</legend>
	  <div id="mrc_information_form">
		<%=render:partial=>'mrc_new',:locals=>{:f =>f}%>
	 </div>
</fieldset>
   <%end -%>