<h1>Listing blogs</h1>

<table>
  <tr>
    <th>Reference</th>
    <th>Title</th>
    <th>Description</th>
    <th>Published date</th>
    <th>Is published</th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%=h blog.reference %></td>
    <td><%=h blog.title %></td>
    <td><%=h blog.description %></td>
    <td><%=h blog.published_date %></td>
    <td><%=h blog.is_published %></td>
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New blog', new_blog_path %>