<h1>New blog</h1>

<% form_for(@blog) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :reference %><br />
    <%= f.text_field :reference %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :published_date %><br />
    <%= f.datetime_select :published_date %>
  </p>
  <p>
    <%= f.label :is_published %><br />
    <%= f.check_box :is_published %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', blogs_path %>