<h1>Listing surveys</h1>

<table>
  <tr>
    <th>Reference</th>
    <th>Title</th>
    <th>Description</th>
    <th>Published date</th>
    <th>Is approved</th>
  </tr>

<% @surveys.each do |survey| %>
  <tr>
    <td><%=h survey.reference %></td>
    <td><%=h survey.title %></td>
    <td><%=h survey.description %></td>
    <td><%=h survey.published_date %></td>
    <td><%=h survey.is_approved %></td>
    <td><%= link_to 'Show', survey %></td>
    <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
    <td><%= link_to 'Destroy', survey, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New survey', new_survey_path %>