%h1 Listing surveys

%table
  %tr
    %th Project
    %th Title
    %th Description
    %th Published date
    %th Is approved

  - @surveys.each do |survey|
    %tr
      %td= h survey.project_id
      %td= h survey.title
      %td= h survey.description
      %td= h survey.published_date
      %td= h survey.is_approved
      %td= link_to 'Show', survey
      %td= link_to 'Edit', edit_survey_path(survey)
      %td= link_to 'Destroy', survey, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New survey', new_survey_path