<p>
  <b>Reference:</b>
  <%=h @survey.reference %>
</p>

<p>
  <b>Title:</b>
  <%=h @survey.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @survey.description %>
</p>

<p>
  <b>Published date:</b>
  <%=h @survey.published_date %>
</p>

<p>
  <b>Is approved:</b>
  <%=h @survey.is_approved %>
</p>


<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>