
<div id="client_errors"></div>
<p><%= label_tag 'name', 'Name' %><br/>
<%= f.text_field :name %></p>

<p><%= label_tag 'address', 'Street address' %><br/>
<%= f.text_field :address %><br />
<%= f.text_field :address2 %></p>

<p><%= label_tag 'zip', 'Zip' %><br/>
<%= f.text_field :zip %></p>

<p><%= label_tag 'state', 'State' %><br/>
<%= f.text_field :state %></p>

<p><%= label_tag 'city', 'City' %><br/>
<%= f.text_field :city %></p>

<p><%= label_tag 'mrc', 'Mrc' %><br/>
<%=select(:client,:mrc_id,@owned_mrcs.map{|m| [m.name,m.id]},{:selected => @client.mrc_id})%>
</p>
