<%if authorise_to_add_or_edit%>
	<%['admin','read','write'].each do |role|%>
 	<fieldset id="fieldset_<%=role%>" <%if role !='admin'%>style="display:none;"<%end%>>
	<legend>Assign As <%=role%> to:</legend>
			<fieldset style="height:150px;width:127px;text-align:left;float:left;">
			<legend>M R C</legend>
			<div id="filter_mrc_list" style="height:110px;overflow:auto;width:125px;">
				 <%=render:partial=>"select_mrc_list",:locals=>{:role=>role}%>
			</div>
			 </fieldset>
		
		<fieldset style="height:150px;text-align:left;width:127px;float:left;">
			<legend>Client</legend>
			<div id="filter_client_list" style="height:110px;overflow:auto;width:125px;">
			 <%=render:partial=>"select_client_list",:locals=>{:role=>role}%>
			</div>
		</fieldset>
		
		<fieldset style="height:150px;text-align:left;float:left;width:127px;">
			<legend>Project</legend>
							 <div id="filter_project_list" style="height:110px;overflow:auto;width:125px;">
				<%=render:partial=>"select_project_list",:locals=>{:role=>role}%>
			</div>
		</fieldset>
	</fieldset>
	<%end%>
<%end%>