<div style="float:left;width:250px;">
<fieldset style="height:1000px;text-align:left;">
<div id="reset_filter"></div>
 <legend>Filter</legend>
	<fieldset style="height:250px;text-align:left;">
		<legend>Market Research Company</legend>
		<div id="mrc_list" style="height:230px;overflow:auto;"><%=render:partial=>"mrc_list"%></div>
	</fieldset>
	
	<fieldset style="height:250px;text-align:left;">
		<legend>Client</legend>
		<div id="client_list" style="height:230px;overflow:auto;"><%=render:partial=>"client_list"%></div>
	</fieldset>
	
	<fieldset style="height:250px;text-align:left;">
		<legend>Project</legend>
		<div id="project_list" style="height:230px;overflow:auto;"><%=render:partial=>"project_list"%></div>
	</fieldset>
	
  </div>
</fieldset>
</div>
<div style="float:left;width:250px;">
<fieldset style="height:1000px;">
<legend>User List</legend>
 <div id="user_list">
 <%=render:partial=>'user_list'%>
 </div>

 </fieldset>
</div>
<div style="float:left;width:500px;" id="user_form">
<%=render:partial=>'user_form'%>
</div>