<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Liveline</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<%= stylesheet_link_tag 'scaffold' %>
<%= javascript_include_tag 'jquery.js','jrails.js','jquery-ui.js','application.js'%>
<%if params[:controller] == 'projects'%>
   <%=stylesheet_link_tag 'jquery-ui.css'%>
   <%=javascript_include_tag 'ui.datepicker.js'%>
<%end%>
</head>
<body>
<div id="wrapper">
<div id="top-menu">
<fieldset>
<legend>Liveline Logo:</legend>
<% if logged_in? -%>
  <div id="user-bar-greeting">Logged in as <%= current_user.login %></div>
<% else -%>
   <div id="user-bar-action"  ><%= link_to "Log in",  login_path,  { :title => "Log in" } %></div>
<% end -%>

<br />
</fieldset>
<%if current_user%>
<ul style="width:700px;">
<li><%=link_to "MRC", mrcs_url%></li>
<li><%=link_to "Projects", projects_url%></li>
<li><%=link_to "Clients", clients_url%></li>
<li><%=link_to "Users", users_url%></li>
<li><%=link_to "Built Projects", projects_url%></li>
<li><%=link_to "Built Surverys", surveys_url%></li>
<li><%=link_to "Approve Surverys", surveys_url%></li>
<li><%=link_to "Build Blogs", new_blog_url%></li>
<li><%=link_to "logout", logout_url%></li>
</ul>
<%else%>
<ul>
<li><%=link_to "Home", root_url%></li>
<li><%=link_to "About", :controller=>"site",:action=>'about'%></li>
<li><%=link_to "Services", :controller=>"site",:action=>'services'%></li>
<li><%=link_to "Our Work", :controller=>"site",:action=>'our_work'%></li>
<li><%=link_to "Contact", :controller=>"site",:action=>'contact'%></li>
<li><%=link_to "Go Live>>Blog", root_url%></li>
</ul>
<%end%>
</div>
<div style="clear:both;">
<%=yield%>
</div>
<div id="ajax-indicator" style="display:none;"><span>Loading </span></div>
	<div id="footer" style="clear:both;">
	    Powered by  &copy; 2006-2009 Liveline
	</div>
</div>
</body>
</html>
